@import "tailwindcss";

h1{ @apply text-3xl}
h2{ @apply text-2xl}
h3{ @apply text-xl}
h4{ @apply text-lg}

h2, h3, h4{  margin-bottom: 0.5rem; }
:root {
  --color-primary: var(--color-blue-700);
  --color-border: #7d7d7d;
}

.border-color {
    border-color: var(--color-border);
}